
div.wrapper {
    display: block;
    width: 960px;
    max-width: 100%;
    margin: 10px auto 0 auto;
    padding: 0;
    text-align: left;
}

.row1 {
    color: #777777;
    background-color: #FFFFFF;
    padding: 50px 0x 160px 0;
}

#slider {    
    position: relative;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    padding: 10px;
    background: white;
}

#slider img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

#slider::after {
    content: '';
    position: absolute;
    z-index: -1; 
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    width: 90%;
    left: 5%; 
    height: 100px;
    bottom: 0;
}