@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-xs-2">
            <img src="../Content/Images/clouderror.png" alt="red cloud error" />
        </div>
        <div class="col-xs-10">
            <h1>Error!</h1>
        </div>
    </div>
</div>
<br />
<br />
<div class="alert alert-error">
    <h2>"An error occurred while processing your request."</h2>
</div>
<br />
<br />
<br />
<br />
<br />
<br />


