
html {
    overflow-y: scroll;
}

body {
    margin: 0;
    padding: 0;
    font-size: 13px;
    color: #777777;
    background-color: #FFFFFF;
}

.clear:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    line-height: 0;
}

.clear {
    display: block;
    clear: both;
}

html[xmlns] .clear {
    display: block;
}

* html .clear {
    height: 1%;
}

a {
    outline: none;
    text-decoration: none;
}

img {
    margin: 0;
    padding: 0;
    border: none;
    line-height: normal;
    vertical-align: middle;
}

/* ----------------------------------------------Wrapper-------------------------------------*/

div.wrapper {
    display: block;
    width: 960px;
    margin: 0 auto;
    padding: 0;
    text-align: left;
}

.row1, .row1 a {
    color: #777777;
    background-color: #FFFFFF;
}

.row2 {
    color: #777777;
    background-color: #FFFFFF;
    padding: 50px 0 160px 0;
}

.row3 {
    border-top: 1px solid #DEDEDE;
}

/*----------------------------------------------Generalise-------------------------------------*/

#header, #container, #footer {
    display: block;
    width: 960px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/*----------------------------------------------Header-------------------------------------*/

#header {
    padding: 15px 0 25px 0;
}

#header #hgroup {
    padding: 20px 0 0 0;
    float: left;
}

#header #hgroup img {
    margin-right: 5px;
}

#header #hgroup h1, #header #hgroup h2 {
        margin: 0;
        padding: 0;
        font-weight: normal;
        text-transform: none;
}

#header #hgroup h1 {
    font-size: 36px;
}

#header #hgroup h2 {
    font-size: 13px;
}

#header nav {
    display: block;
    float: right;
    margin: 20px 0 0 0;
    padding: 20px 0;
}

#header nav ul {
}

#header nav li {
    display: inline;
    margin-right: 25px;
    text-transform: uppercase;
}

#header nav li.last {
    margin-right: 0;
}

#header nav li a {
}

#header nav li a:hover {
    color: #FF9900;
    background-color: #FFFFFF;
    text-decoration: none;
}

/*----------------------------------------------Content Area-------------------------------------*/

#slider {
    position: relative;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    padding: 10px;
    background: white;
}

#slider img {
    width: 100%;
}

#slider::after {
    content: '';
    position: absolute;
    z-index: -1; /* hide shadow behind image */
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    width: 70%;
    left: 15%; /* one half of the remaining 30% */
    height: 100px;
    bottom: 0;
}

.container {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.item {
    margin: 10px 0;
}

.content {
    padding: 50px 0 160px 0;
}

.form_middle {
    width: 50%;
    padding: 20px 0;
}

.dl-horizontal dt {
    padding: 5px 0;
}

/*----------------------------------------------Footer-------------------------------------*/


.footer_inner_left {
    width: 49%;
    float: left;
    display: inline;
}

.footer_inner_right {
    width: 49%;
    float: right;
    display: inline;
}

#footer {
    padding: 40px 0;
    overflow: auto;
}

#footer p {
    margin: 0;
    padding: 5px 0;
}