<!-- header -->
<md-toolbar color="primary">
  <a class="title" href='#'>
    <h1>Fast Forecast</h1>
  </a>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <nav class="navbar">
    <ul>
      <li><a routerLink="/query" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/cities" routerLinkActive="active">Manage cities</a></li>
      <li class="last"><a a routerLink="/history" routerLinkActive="active">Previous requests</a></li>
    </ul>
  </nav>
</md-toolbar>

<router-outlet></router-outlet>