
.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
   * Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.logo-wrap {
    display: flex;
}

.logo {
    width: 100%;

}

.logo img {
    display: block;
    width: 50%; 
    margin: 0 3px;
    float: right;
}

md-toolbar a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

md-toolbar a:hover {
    color: lightgray;
}

.navbar {
    display: block;
    float: right;
    margin: 20px 0 0 0;
    padding: 20px 0;
}

.navbar li {
    display: inline;
    margin-right: 25px;
    text-transform: uppercase;
    font-size: 16px;
}

.navbar li.last {
    margin-right: 0;
}

.navbar li a:hover {
    color: lightgray;
    text-decoration: none;
}
