@model WeatherApp.Models.WeatherRequest

@using (Html.BeginForm("GetWeather", "Home", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h1>Weather forecast</h1>
            <br />
            <div class="container">
                <div class="col-md-10">
                    <img src="../Content/Images/weather_icon.png" alt="Sun and cloud" class="img-responsive"/>
                </div>
            </div>
            <br />
            <h4>Select city: </h4>
            @Html.DropDownListFor(wr => wr.City, ViewBag.Cities as List<SelectListItem>, new { @class = "form-control" })
            <br />
            @Html.TextBoxFor(wr => wr.CustomCity, new { @class = "form-control", @placeholder = "or type another city" })
            <br />
            <h4>Select period:</h4>
            @Html.DropDownListFor(wr => wr.Period, ViewBag.Periods as List<SelectListItem>, new { @class = "form-control" })
            <br />
            <br />            
            <input type='submit' value='Show weather' class="btn btn-primary btn-block" />
        </div>
    </div>    
}


