@model WeatherApp.Models.WeatherRequest

@section scripts{
    <script src="@Url.Content("~/Scripts/index.js")"></script>
}

<!-- content -->
<section id="slider">
    <a href="#">
        <img src="~/Content/Images/family.png" alt="Happy family" />
    </a>
</section>

<!-- content body -->
@using (Html.BeginForm("GetWeather", "Home", FormMethod.Post))
{
    <div class="container content">
        <h4 class="item">Select city: </h4>

        @Html.DropDownListFor(wr => wr.City,
                              ViewBag.Cities as List<SelectListItem>,
                              new
                              {
                                  @class = "form-control item",
                                  @id = "ddlCity"
                              })

        @Html.TextBoxFor(wr => wr.CustomCity,
                         new
                         {
                             @class = "form-control item",
                             @id = "tbCustomCity",
                             @placeholder = "or type another city"
                         })

        <h4 class="item">Select period:</h4>

        @Html.DropDownListFor(wr => wr.Period,
                              ViewBag.Periods as List<SelectListItem>,
                              new
                              {
                                  @class = "form-control item"
                              })

        <br />
        <br />
        <br />

        <input type='submit' value='SHOW WEATHER' class="btn btn-primary btn-block item" >

   </div>
}

<!-- / content body -->
